* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  padding-top: 40px;
  background-image: url("https://images5.alphacoders.com/120/1207344.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

header {
  background-color: #150e4f;
  text-align: center;
  color: white;
  padding: 20px;
}

.logo img {
  height: 70px;
}

#container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 40px 0;
  padding: 0 80px;
}

.card {
  background-color: transparent;
  width: 200px;
  height: 320px;
  border-radius: 10px;
  perspective: 1000px;
  border-radius: 10px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 7px 8px 7px -9px rgba(0, 0, 0, 0.75);
  text-align: center;
  border-radius: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: white;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  border-radius: 10px;
  overflow: hidden;
  /* background-color: blue; */
  /* color: black; */
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  gap: 10px;
}

.card-back {
  /* background-color: aqua; */
  color: black;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  background-image: url("https://i.pinimg.com/236x/ea/a9/7e/eaa97e0b1ea29733371c46ac60059eb6.jpg");
}

.card-front img {
  width: 100%;
  flex-grow: 1;
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #150e4f;
  color: #fec012;
  padding: 20px;
  text-align: center;
}
